<p>Hello!</p>
<p>
  <b>Thank you for submitting for a quote for Off the Bone BBQ</b>!
</p>
<p>
  Here is a summary of your quote request:
</p>
<ul>
  <li>Number of People: <%= @rfq.count %></li>
  <li>Type of Event: <%= @rfq.catering_type_humanized %></li>
  <li>Meats Selected: <%= @meats %></li>
  <li>Sides Selected: <%= @sides %></li>
</ul>
<p>
  Again, thank you for contacting Off the Bone BBQ today!
</p>