<p>Hello!</p>
<p>
  Congrats! <b>You have received a new quote request</b>!

  Contact <%= @rfq.name %>, phone <%= @rfq.phone_number %>, or email <%=@rfq.email %>
    today!
</p>
<p> <%= @rfq.name %>'s order is:
  meats: 
  sides: 
</p>