<div class="col-12 about">
  <h1>About</h1>
  <br/>
    <h2>Meet the men that make the meat</h2>
</div>
<br/>

<div class="container col-10">
  <div class="row">
    <div class="col text-center">
      <%= image_tag 'doug.jpg', class: "img col-" %>
    </div>
    <div class="col">
    <br/>
      <h3>Meet Doug</h3>
      <br/>
        <p>lots and lots of words here describing Doug and all his bbqing glory</p>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col text-center">
      <%= image_tag 'jason.jpg', class: 'img' %>
    </div>
    <div class="col">
    <br/>
      <h3>Meet Jason</h3>
      <br/>
        <p>lots and lots of words here describing Jason and all his bbqing glory</p>
    </div>
  </div>
</div>