<div class="col-10 col-sm-6 offset-sm-1 about">
<h1>About</h1>
  <h2>Meet the men that make the meat</h2>
</div>
<div class="col-12 col-sm-6 meet">
<h3>Meet Doug</h3>
<p>lots and lots of words here describing Doug and all his bbqing glory</p>
<h3>Meet Jason</h3>
<p>lots and lots of words here describing Jason and all his bbqing glory</p>
</div>