<br/>
<div class="fullheight">
  <div class="frosty col-10 offset-1 text-center">
      <h1>Off the Bone BBQ Catering</h1> 
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <%= image_tag "bbq1.jpg",  class: 'img-fluid'%>
            <div class="carousel-caption d-none d-md-block">
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag 'bbq2.jpg', class: 'img-fluid' %>
            <div class="carousel-caption d-none d-md-block">
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag 'bbq3.jpg', class: 'img-fluid' %>
            <div class="carousel-caption d-none d-md-block">
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag 'bbq4.jpg', class: 'img-fluid' %>
            <div class="carousel-caption d-none d-md-block">
              <p></p>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> 
      </div> 

      <div class="index text-center">
        <h2>Our mission is to provide the highest quality, wood-smoked cuisine for any event!</h2>
      </div>
  </div>
</div>


  
