<html>
  <head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet"> 
  
  </style>

  
  </head>
  <body>
  <div class="about">
    <h1>OFF THE BONE CATERING</h1>  

    <h2>Meet the men that make the meat</h2>
    <p></p>
  </div>
  </body>

</html>