<div class="col-12 menu">
  <h1>Menu</h1>
  <p>
  1 Meat, 2 sides $13-$15
2 Meats, 2 sides $15-$18
3 Meats, 2 sides $18-$21
Additional sides $2 per person 

1 Meat  $10-$12
2 Meats $12-$15
3 Meats $15-$18  

Smoked Meat Selection 
Pulled Pork
Pork Loin 
Tri - Tip
Brisket
Pulled Beef
Ribs (St. Louis or Baby Back)
Chicken Thighs
German Sausages and Hot Links

Side Dishes 
Coleslaw                                                
BBQ Beans
Potato Salad
Macaroni Salad
Green Salad or Caesar Salad
Smoked Bacon Macaroni and Cheese
Fruit Platter
</p>

</div>
