<br/>
<div class="fullheight">
  <div class="frosty text-center col-10 offset-1">
    <div class="container">
      <h1>Menu</h1>
      <br/>
      <div class="row">
        <div id=meatlist class="col-12 col-sm-6">
          <h3><u>Smoked Meat</u></h3>
          <ul class="food_list">
            <br />
            <li> Pulled Pork</li>
            <li> Pork Loin</li>
            <li> Tri - Tip</li>
            <li> Brisket</li>
            <li> Pulled Beef</li>
            <li> Ribs (St. Louis or Baby Back)</li>
            <li> Chicken Thighs</li>
            <li> German Sausages and Hot Links</li>
            <li> Seasonal Vegetarian Option</li>
         </ul>
        </div>
        <div class="col-12 col-sm-6">
          <h3><u>Side Dishes</u></h3>
          <ul class="food_list">
            <br />
            <li> Coleslaw</li>
            <li> BBQ Beans</li>
            <li> Potato Salad</li>
            <li> Macaroni Salad</li>
            <li> Green Salad</li>
            <li> Caesar Salad</li>
            <li> Smoked Bacon Macaroni and Cheese</li>
            <li> Fruit Platter</li>
          </ul>
        </div>
      </div>
    </div>
    <br/>
    <%= link_to "Request a Quote", new_rfq_path, class: "btn btn-primary" %>
  </div>
</div>
<!--   1 Meat, 2 sides $13-$15
2 Meats, 2 sides $15-$18
3 Meats, 2 sides $18-$21
Additional sides $2 per person 

1 Meat  $10-$12
2 Meats $12-$15
3 Meats $15-$18 --> 



