<h1><%=@meat%></h1>
<h1><%=@meat.name%></h1>

<div class="row">
      <div id=meatlist class="col-12 col-sm-6">
        <h3>Smoked Meat Selection</h3>
        <ul class="">
          <br />
          <!-- <form>  -->
            <!-- <li><input type="checkbox" data-id="pulled pork"  name="meatbox"><label><%=@meat%></label></li>
            <li><input type="checkbox" data-id="pork loin" name="meatbox"><label> pork loin</label></li>
            <li><input type="checkbox" data-id="tri-tip" name="meatbox"><label> tri-tip</label></li> -->
          <!-- </form> -->


          <!-- <li class="meat" data-meat="Pulled Pork"><input type='checkbox' id='meatbox'> Pulled Pork</li>
          <li class="meat" data-meat="Pork Loin"><input type='checkbox' id='meatbox'> Pork Loin</li>
          <li class="meat" data-meat="Tri - Tip"><input type='checkbox' id='meatbox'> Tri - Tip</li>
          <li class="meat" data-meat="Brisket"><input type='checkbox' id='meatbox'> Brisket</li>
          <li class="meat" data-meat="Pulled Beef"><input type='checkbox' id='meatbox'> Pulled Beef</li>
          <li class="meat" data-meat="Ribs"><input type='checkbox' id='meatbox'> Ribs (St. Louis or Baby Back)</li>
          <li class="meat" data-meat="Chicken Thighs"><input type='checkbox' id='meatbox'> Chicken Thighs</li>
          <li class="meat" data-meat="German Sausages and Hot Links"><input type='checkbox' id='meatbox'> German Sausages and Hot Links</li> -->
       </ul>
      </div>