
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  min-height: 100vh;
}

#footer {
  padding: 10px 0px;
  position: relative;
  width: 100%;
  min-height: auto;
  background-color: black;
  color: white;
  margin-top: 30px;
}

#footer a {
  font-family: 'Alice', serif;
}



