@import "bootstrap";
@import "font-awesome";

abbr[title="required"] {
  display: none;
}

a:hover {
  color: white;
}

.about {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about_img {
  height: 100%;
  width: 300px;
  object-fit: contain;
}

.about_link {
  color: #FF5733;
}

body { 
  background: image_url("bbq.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Alice', serif;
  color: #FFEE5F;
}

h1 {
  font-family: 'ryeregular';
}

.btn {
  font-family: 'Architects Daughter', cursive;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 300px;
  width: 100%;
}

.carousel img {
  object-fit: contain;
}

.clr {
  clear: both;
}

.contact {
}

.credit {
  font-size: 10px;
}

.credit a {
  color: #FBE317;
}

.f_link a {
  color: #FBE317;
}

.main {
  min-height: 90vh;
}

.frosty {
  background: rgba(0, 0, 0, 0.6);
  color: #FFEE5F;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 1px 3px #2a2a2a;
  border-radius: 15px;
}

.f_title {
  color: #FF0000;
}

html {
  position: relative;
  min-height: 100%;
}

.h_links a{
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  padding: 10px 40px;
  font-family: 'ryeregular';
}

.img {
  height: 100%;
  width: 300px;
  object-fit: contain;
  }

.index {
  margin: 30px;
}

.index-bottom {
  margin-bottom: 30px;
}

.navbar {
  background-color: black;
}

.navbar a {
color: #E44725;
}

span.help-block{
  color: #FF5733;
}

ul {
  list-style-type: none; 
  font-size: 20px;
}

ul.food_list {
  padding-left: 0px;
}

ul#meatlist  {
  padding-left: 70px;
}

ul#sidelist { 
  padding-left: 70px; 
}





