@import "bootstrap";

a {
  color:white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #ffad33;
}


.about {
 text-align: center;
  padding-top: 30px;
}

  body{ 
  background: url("bbq.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Architects Daughter', cursive;
}

.container{
  color:white;
}

.contact {
}

.h_links {
  padding-left: 40px;
  padding-top: 20px;
}

 .h_links a{
  color:white;
 }

 h1,h2,h3,h4,h5,h6 {
  color:white;
 }


 html {
  position: relative;
  min-height: 100%;
}

.menu {
  
}

p {
  color:white;
}

.row {
  padding: 20px;
}

