<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="h_links">
      <ul> 
        <li><a href="#index" class="nav-link">HOME</a></li>
        <li><a href="#" class="nav-link">ABOUT</a></li>
        <li><a href="#" class="nav-link">MENU</a></li>
        <li><a href="#" class="nav-link">CONTACT</a></li>
      </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
